.job-card {
  padding: 50px !important;
}
.card img {
  width: 30%;
  margin-bottom: 20px;
}
.job-title {
  font-weight: 800;
  font-size: 24px;
  color: #474747;
  line-height: 33px;
}
.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
}
.time-cat p {
  border: 2px solid #7f90ff;
  color: #7f90ff;
  padding: 9px 15px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 16px;
}
.loc-sal {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-top: 10px;
}
